body {
    background-color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.main-header {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.second-header {
    font-weight: 300;
    color: white;
    font-size: 42px;
}

h4 {
    font-size: 21px;
    color: gray;
}

.download-link {
   color: aquamarine;
   font-size: 16px;
}

